body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(0, 160, 0);
    color: white;
}

#flexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0px;
}

#startbutton {
    padding: 5px;
    width: 20%;
    height: 50px;
    font-size: 50px;
    background-color: salmon;
    border-radius: 15px;
    cursor: pointer;
    display: inline;
}

#startbutton:hover {
    background-color: rgba(250, 128, 114, 0.8);
}

form {
    width: 50%;
    margin: 0 auto;
}

fieldset {
    justify-content: center;
    border: solid salmon;
    border-radius: 15px;
    background-color: white;
    color: rgb(87, 42, 37);
    margin: 0 auto;
    width: 90%;
}

#flexInstr {
    width: 50%;
}

#instrText {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: solid salmon;
    border-radius: 15px;
    padding-top: 0px;
    background-color: white;
    color: rgb(87, 42, 37)
}

hr {
    color: salmon;
    width: 80%;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

canvas {
    border: solid salmon;
    border-radius: 15px;
    display: none;
    background: url(MEDIA/field.png);
    margin-top: -10px;
}

#flexCanvas {
    display: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

#canvasContainer {
    width: 75%;
}

#spielstand {
    display: none;
    width: 20%;
    border: solid salmon;
    border-radius: 15px;
    margin-top: -10px;
    padding-bottom: -5px;
}

#score {
    display: flex;
    flex-direction: row;
}

#currentPlayer {
    height: 30px;
    width: 30%;
    border: solid black;
    border-radius: 15px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

#team1, #team2 {
    width: 30px;
    height: 30px;
    border: solid black;
    border-radius: 50%;
    margin: 0 auto;
}

#infoTeam {
    width: 20px;
    height: 20px;
    border: solid black;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 13px;
}

#teamDiv {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 30%;
    margin-top: -10px;
    margin-bottom: -10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
}