body {
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

canvas {
    border: solid rgb(32, 54, 54);
    border-radius: 5px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(32, 54, 54);
    border: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(66, 110, 110);
}
